extends ../layouts/articles.pug

block content
  h1 #{category.name}
  section.articles-category__theme-list
    h2.visually-hidden Список тем
    ul.themes
      each item in categories
        if item.count > 0
          li.themes__item
            a.themes__item-link(href=`/articles/category/${item.id}` class=`${item.id == category.id ? 'themes__item-link--active': ''}`)
              | #{item.name} 
              sup #{item.count} 


  section.articles-category__list.preview
    h2.visually-hidden Список превью статей
    include ../components/widget/previews.pug