extends ../layouts/admin.pug

block content
  section.main-page__publication.publication
    h1.publication__title Комментарии
    ul.publication__list
      each comment in comments
        li.publication__list-item
          .publication__header
            if comment['User.avatar']
              img.publication__list-image(src=`/img/${comment['User.avatar']}` width='20' height='20' alt='Аватар пользователя')
            b.publication__list-name #{comment['User.name']} #{comment['User.surname']}
            time.publication__item-time(datetime=comment.createdAt) #{humanDate(comment.createdAt)}
          a.publication__item-text(href=`/articles/${comment['Article.id']}`) #{comment.text}
          p.publication__text-strong #{comment['Article.title']}
          button.publication__button.button.button--close-item(type='button')
            span.visually-hidden Закрыть строку списка
